<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo
            cliente</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm" (ngSubmit)="register()">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombres: </label>
                <div class="col-sm-10">
                    <input #firstName="ngModel" class="form-control" [ngClass]="firstName.invalid && firstName.dirty
                    ? 'is-invalid' : ''" type="text" name="firstName" [(ngModel)]="registerClientDTO.firstName"
                        required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Apellidos: </label>
                <div class="col-sm-10">
                    <input #lastName="ngModel" class="form-control" [ngClass]="lastName.invalid &&
                    lastName.dirty ? 'is-invalid' : ''" type="text" name="lastName"
                        [(ngModel)]="registerClientDTO.lastName" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Foto: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" name="profilePicture" (change)="onFileChange($event)"
                        required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ciudad de Residencia: </label>
                <div class="col-sm-10">
                    <select class="form-select" name="city" required [(ngModel)]="registerClientDTO.city">
                        <option value="" selected>Seleccione una ciudad</option>
                        @for (item of citys; track $index) { <option [value]="item">{{item}}</option> }
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Username: </label>
                <div class="col-sm-10">
                    <input #nickname="ngModel" class="form-control" [ngClass]="nickname.invalid &&
                    nickname.dirty ? 'is-invalid' : ''" type="text" name="nickname"
                        [(ngModel)]="registerClientDTO.nickname" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Correo electrónico: </label>
                <div class="col-sm-10">
                    <input #email="ngModel" class="form-control" [ngClass]="email.invalid &&
                    email.dirty ? 'is-invalid' : ''" type="text" name="email" [(ngModel)]="registerClientDTO.email"
                        required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Contraseña: </label>
                <input type="password" name="password" [(ngModel)]="registerClientDTO.password" required />
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Repetir Contraseña</label>
                <input type="password" name="confirmPassword" [(ngModel)]="registerClientDTO.confirmPassword" required>
            </div>
            @if (!equalPassword()) { <div class="alert alert-danger" role="alert">Las contraseñas no
                coinciden</div> }
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid || !equalPassword()">
                <i class="fa-solid fa-circle-plus me-1"></i>Registrarse
            </button>
        </form>
    </div>
</div>