<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="" routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-map-location-dot fs-3"></i>
                <span class="fs-4 ms-3 me-3">{{title}}</span>
            </a>
        </div>

        @if (!isLogged) {
        <div class="col">
            <button type="button" routerLink="/inicio" class="btn btn-outline-primary">Inicio</button>
        </div>
        <div class="col-end">
            <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" routerLink="/registro" class="btn btn-primary">Registro</button>
        </div>

        } @else if(isLogged && role === 'CLIENT') {

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="" routerLink="/lista-revision" class="nav-link px-2">Revisión</a></li>
            <li><a href="" routerLink="/gestion-negocios" class="nav-link px-2">Gestión negocios</a></li>
            <li><a href="" routerLink="/actualizar-cuenta" class="nav-link px-2">Favoritos</a></li>
        </ul>
        <label class="me-3">Hola {{client.nickname}}</label>
        <div class="action">
            <div class="profile d-flex align-items-center justify-content-center" (click)="menuToggle();">
                <img src="{{client.profilePicture}}" class="rounded-circle" alt="imag-perfil" style="width: 60px; height: 60px;">
            </div>
            
            <div class="menu">
                <h3>{{client.firstName}} {{client.lastName}} <br><span>{{client.nickname}}</span></h3>
                <ul>
                    <li><i class="fa-solid fa-user-pen"></i><a routerLink="/actualizar-cuenta" (click)="closeMenu()"> Editar cuenta</a></li>
                    <li><i class="fa-regular fa-square-plus"></i><a routerLink="/crear-lugar" (click)="closeMenu()">Crear lugar</a></li>
                    <li><i class="fa-solid fa-folder-open"></i><a routerLink="/gestion-negocios" (click)="closeMenu()">Ver Lugares Creados</a></li>
                    <li><i class="fa-solid fa-heart"></i><a routerLink="/ver-lugares-favoritos" (click)="closeMenu()">Ver Lugares Favoritos</a></li>
                    <li><i class="fa-solid fa-right-from-bracket"></i><a routerLink="#" (click)="logout(); closeMenu()">Logout</a></li>                    
                </ul>
            </div>
        </div>
        } @else if (isLogged && role === 'MODERATOR') {
        <div>
            <label class="me-xxl-5 ">Hola {{client.firstName}}</label>
            <button (click)="logout()" type="button" routerLink="/" class="btn btn-primary">Logout</button>

        </div>
        }
    </header>
</div>