<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="" routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-map-location-dot fs-3"></i>
                <span class="fs-4 ms-3 me-3">{{title}}</span>
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="" routerLink="/inicio" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="" routerLink="/crear-lugar" class="nav-link px-2">Gestión negocios</a></li>
            <li><a href="" routerLink="/actualizar-cuenta" class="nav-link px-2">Favoritos</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <!-- @if (!isLogged) { -->
            <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" routerLink="/registro" class="btn btn-primary">Registro</button>
            <!-- }@else { -->
            <!-- <label class="me-3">Hola {{email}}</label> -->
            <!-- <button type="button" (click)="logout()" class="btn btn-primary ">Logout</button> -->
            <!-- } -->
        </div>
    </header>
</div>