<div class="card">
  <div class="card-header text-center">
    <h5 class="mb-0">
      <i class="fa-solid fa-utensils me-3"></i>Crear un lugar
    </h5>
  </div>

  <div class="card-body p-4 p-md-5">
    <form #f="ngForm">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre: </label>
        <div class="col-sm-10">
          <input
            name="name"
            type="text"
            placeholder="Ingresa el nombre del negocio..."
            [(ngModel)]="placeCreateDTO.name"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Descripción: </label>
        <div class="col-sm-10">
          <textarea
            name="description"
            type="text"
            placeholder="Ingresa una descripción, datos importantes, etc..."
            [(ngModel)]="placeCreateDTO.description"
            class="form-control"
            required
          ></textarea>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Ubicación: </label>
        <div class="col-sm-10">
          <div class="card">
            <div id="map"></div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Fotos: </label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="file"
            name="images"
            (change)="onFileChange($event)"
            multiple
            required
          />
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            [disabled]="!files || files.length === 0"
            class="btn btn-primary w-100"
            (click)="uploadImages()"
          >
            <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir fotos
          </button>
        </div>
      </div>

      <div *ngIf="placeCreateDTO.images.length > 0" class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                *ngFor="let image of placeCreateDTO.images; let i = index"
                type="button"
                [attr.data-bs-target]="'#carouselExampleIndicators'"
                [attr.data-bs-slide-to]="i"
                [class.active]="i === 0"
                aria-current="i === 0 ? 'true' : undefined"
                aria-label="'Slide ' + (i + 1)"
              ></button>
            </div>
            <div class="carousel-inner">
              <div
                *ngFor="let image of placeCreateDTO.images; let i = index"
                class="carousel-item"
                [class.active]="i === 0"
              >
                <div
                  class="d-flex justify-content-center align-items-center"
                  style="background-color: #f0f0f0; height: 300px"
                >
                  <img
                    [src]="image"
                    class="d-block"
                    alt="Imagen seleccionada"
                    style="max-height: 100%; max-width: 100%"
                  />
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Categorias: </label>
        <div class="col-sm-8">
          <select
            class="form-select"
            name="categories"
            required
            [(ngModel)]="currentCategory"
          >
            <option value="" selected>Selecciona una categoría...</option>
            <option *ngFor="let item of categories" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            [disabled]="!currentCategory"
            class="btn btn-primary w-100"
            (click)="addCategory()"
          >
            <i class="fa-solid fa-circle-plus me-2"></i>Agregar
          </button>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <div class="d-flex flex-wrap">
            <span
              *ngFor="let category of placeCreateDTO.categories; let i = index"
              class="badge text-bg-primary me-2 mb-2"
            >
              {{ category }}
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="removeCategory(category)"
              ></button>
            </span>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Horarios: </label>
        <div class="col-sm-10">
          <div class="row mb-2">
            <div class="col-md-3">
              <select
                class="form-select"
                name="day"
                required
                [(ngModel)]="currentSchedule.weekday"
              >
                <option value="" selected>Selecciona un día...</option>
                <option *ngFor="let weekday of weekdays" [value]="weekday">
                  {{ weekday }}
                </option>
              </select>
            </div>

            <div class="col-md-3">
              <input
                class="form-control"
                placeholder="09:00 am"
                type="time"
                name="openingTime"
                [(ngModel)]="currentSchedule.openingTime"
                required
              />
            </div>

            <div class="col-md-3">
              <input
                class="form-control"
                placeholder="06:00 pm"
                type="time"
                name="closingTime"
                [(ngModel)]="currentSchedule.closingTime"
                required
              />
            </div>

            <div class="col-md-3">
              <button
                type="button"
                [disabled]="
                  !currentSchedule.weekday ||
                  !currentSchedule.openingTime ||
                  !currentSchedule.closingTime
                "
                class="btn btn-primary w-100"
                (click)="addSchedule()"
              >
                <i class="fa-solid fa-circle-plus me-1"></i>Agregar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <div class="d-flex flex-wrap">
            <span
              *ngFor="let schedule of placeCreateDTO.schedule; let i = index"
              class="badge text-bg-primary me-2 mb-2"
            >
              {{ schedule.weekday }}: {{ schedule.openingTime }} -
              {{ schedule.closingTime }}
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="removeSchedule(schedule)"
              ></button>
            </span>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Teléfonos: </label>
        <div class="col-sm-8">
          <input
            class="form-control"
            type="number"
            name="phone"
            placeholder="Ingresa un télefono de contacto..."
            required
            [(ngModel)]="currentPhone"
          />
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            [disabled]="!currentPhone"
            class="btn btn-primary w-100"
            (click)="addPhone()"
          >
            <i class="fa-solid fa-circle-plus me-2"></i>Agregar
          </button>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
          <div class="d-flex flex-wrap">
            <span
              *ngFor="let phone of placeCreateDTO.phones; let i = index"
              class="badge text-bg-primary me-2 mb-2"
            >
              {{ phone }}
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="removePhone(phone)"
              ></button>
            </span>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary w-100"
        (click)="createPlace()"
        [disabled]=""
      >
        <i class="fa-solid fa-circle-plus me-1"></i>Crear negocio
      </button>
      <app-alert />
    </form>
  </div>
</div>
