<form #f="ngForm" (ngSubmit)="createPlace()">
    <div>
        <label>Nombre: </label>
        <input type="text" name="firstName"
        [(ngModel)]="placeCreateDTO.name" required/>
    </div>
    <div>
        <label>Descripción: </label>
        <input type="text" name="firstName"
        [(ngModel)]="placeCreateDTO.description" required/>
    </div>
    <div>
        <label>Location: </label>
        <input type="text" name="location"
        [(ngModel)]="placeCreateDTO.location" required/>
    </div>
    <div>
        <label>Fotos: </label>
        <input type="file" name="images"
        [(ngModel)]="placeCreateDTO.images" required/>
    </div>
    <div>
        <label>Horarios: </label>
        <input type="date" name="schedule"
        [(ngModel)]="placeCreateDTO.schedule" required/>
    </div>
    <div>
        <label>Categoria: </label>
        <input type="text" name="categories"
        [(ngModel)]="placeCreateDTO.categories" required/>
    </div>
    <div>que tipos de servidores hay adicionales a tipo torre, tico rac blade y micro servidor</div>
    <button type="submit" [disabled]="f.invalid">Crear Lugar</button>
</form>