<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-location-dot me-3"></i>Gestión de Negocios</h5>
    </div>

    <div class="card-body p-5">
        <div class="mb-3">
            <button type="button" routerLink="/crear-lugar" class="btn btn-success me-2">
                <i class="fa-solid fa-plus me-1"></i> Crear Nuevo Negocio
            </button>
            <button type="button" routerLink="/editar-lugar" class="btn btn-warning  me-2">
                <i class="fa-solid fa-pencil me-2"></i>Modificar Negocio
            </button>
            <button type="button" class="btn btn-danger anim-e" [disabled]="seleccionados.length == 0"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-trash me-1"></i> Eliminar
                {{textoBtnDelete}}
            </button>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Aviso</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Desea eliminar los objetos seleccionados</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" (click)="deletePlaces()"
                                data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Tipo de negocio</th>
                        <th>Imagen destacada</th>
                        <th>Calificación promedio</th>
                        <th>Estado negocio</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @for (item of negocios; track $index) {
                    <tr>
                        <td><input #check class="form-check-input" type="checkbox" (change)="seleccionar(item,
                        check.checked)" /></td>
                        <td>
                            <p>{{item.id}}</p>
                        </td>
                        <td>
                            <p>{{item.name}}</p>
                        </td>
                        <td>
                            <p>{{item.categories}}</p>
                        </td>
                        <td>
                            <img src="{{item.pictures[0]}}" alt="{{item.pictures[0]}}" class="img-fluid"
                                style="max-width: 100px;">
                        </td>

                        <td>
                            <p>{{item.score}}</p>
                        </td>
                        <td>
                            <span [ngClass]="{'text-bg-success': item.status ==
                'APPROVED', 'text-bg-danger': item.status == 'REJECTED', 'text-bg-warning':
                item.status == 'PENDING' }" class="badge">{{item.status}}</span>

                        </td>
                        <td>
                            <a routerLink="/detalle-negocio/{{item.id}}"><i class="fa-solid fa-circle-info me-2"></i>Ver
                                detalle</a>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>