<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-magnifying-glass-location me-2">
            </i>Resultados de búsqueda para {{textoBusqueda}}</h5>
    </div>

    <div class="card-body p-5">
        <div id="map"></div>
    </div>

    <ul id="restaurant-list" class="list-group mt-4">
        <div *ngFor="let restaurant of resultados" class="card text-center mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{restaurant.pictures}}" class="card-img" alt="{{restaurant.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                routerLink="/detalle-negocio/{{restaurant.id}}">{{restaurant.name}}</a></h5>
                        <h5><span class="badge bg-primary">{{restaurant.categories}}</span></h5>
                        <p class="card-text">{{restaurant.description}}</p>
                        <p class="card-text"><small class="text-muted">Calificación: {{restaurant.score}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>