<div class="card ">
    <h3 class="d-flex justify-content mt-5 me-5">Hola, {{name}}!</h3>
    <p class="d-flex justify-content mt-1 me-5">UniLocal te da la bienvenida a su plataforma de gestión. ¿Qué acción deseas realizar hoy para mantener nuestra comunidad local vibrante y activa?</p>
    <div class="container center-content">
        <div class="d-flex justify-content-center">
            <h2>¿Qué te gustaría hacer hoy?</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div class="option-card mx-2">
                <p>Revisar solicitudes pendientes</p>
            </div>
            <div class="option-card mx-2">
                <p>Listado de lugares autorizados</p>
            </div>
            <div class="option-card mx-2">
                <p>Listado de lugares rechazados</p>
            </div>
        </div>
    </div>
</div>