<div class="card-body p-1">
    <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-secondary me-2"
            (click)="selectCategorySearch(placeStatus[0])">{{placeStatus[0]}}</button>
        <button class="btn btn-secondary me-2"
            (click)="selectCategorySearch(placeStatus[1])">{{placeStatus[1]}}</button>
        <button class="btn btn-secondary me-2"
            (click)="selectCategorySearch(placeStatus[2])">{{placeStatus[2]}}</button>
        <button class="btn btn-secondary me-2"
            (click)="selectCategorySearch(placeStatus[3])">{{placeStatus[3]}}</button>
    </div>
</div>

<ul id="restaurant-list" class="list-group mt-4">
    <div *ngFor="let restaurant of resultados" class="card text-center mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{restaurant.pictures[0]}}" class="card-img" alt="{{restaurant.name}}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a routerLink="/revision/{{restaurant.id}}">{{restaurant.name}}</a>
                    </h5>
                    <h5><span class="badge bg-primary">{{restaurant.categories}}</span></h5>
                    <p class="card-text">{{restaurant.description}}</p>
                    <p class="card-text"><small class="text-muted">Calificación: {{restaurant.score}}</small></p>
                </div>
            </div>
        </div>
    </div>
</ul>