#map{
    width: 100%;
    height: 300px;
}

.card-img-top {
    max-height: 150px;
    object-fit: cover;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.button-container button {
    flex: 0 1 auto;
}