<div class="card">
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h2>¿Qué te gustaría hacer hoy?</h2>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary " [class.active]="status === 'PENDING'"
                    (click)="setStatus('PENDING')">Solicitudes pendientes</button>
                <button type="button" class="btn btn-secondary" [class.active]="status === 'APPROVED'"
                    (click)="setStatus('APPROVED')">Lugares autorizados</button>
                <button type="button" class="btn btn-secondary" [class.active]="status === 'REJECTED'"
                    (click)="setStatus('REJECTED')">Lugares rechazados</button>
            </div>
        </div>

        @if (status === 'PENDING') {

        @for (item of negocios; track item.name) {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{item.pictures[0]}}" class="card-img" alt="{{item.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <span class="badge bg-primary">{{item.categories}}</span>
                        <p class="card-text">
                            {{item.description}}
                        </p>
                        <p class="card-text"><small class="text-muted">Calificación: {{item.score}}</small></p>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-success" routerLink="/revision/{{item.id}}">Revisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        } @else if (status === 'APPROVED') {

        @for (item of negocios; track item.name) {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{item.pictures[0]}}" class="card-img" alt="{{item.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <span class="badge bg-primary">{{item.categories}}</span>
                        <p class="card-text">
                            {{item.description}}
                        </p>
                        <p class="card-text"><small class="text-muted">Calificación: {{item.score}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        }
        } @else if (status === 'REJECTED') {

        @for (item of negocios; track item.name) {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{item.pictures[0]}}" class="card-img" alt="{{item.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <span class="badge bg-primary">{{item.categories}}</span>
                        <p class="card-text">
                            {{item.description}}
                        </p>
                        <p class="card-text"><small class="text-muted">Calificación: {{item.score}}</small></p>
                        <div class="d-flex justify-content-around">
                            <button class="btn btn-success" routerLink="/revision/{{item.id}}">Revisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        }
    </div>
</div>