#map {
  width: 100%;
  height: 400px;
}

.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
}

.badge, .btn {
  height: 38px; /* Ajusta este valor según sea necesario */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}
