<div class="container mt-4 p-4" style="background-color: #f8f9fa">
  <div class="row align-items-center mb-4">
    <div class="col-6">
      <h1>{{ negocio.name }}</h1>
    </div>
    <div class="col-6 text-end">
      <span class="badge bg-warning text-dark">{{ negocio.status }}</span>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <p>{{ negocio.description }}</p>
      <p>
        <strong class="me-2">Categorías:</strong>
        <span
          *ngFor="let category of negocio.categories"
          class="badge bg-primary me-2"
          >{{ category }}</span
        >
      </p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div id="map" style="height: 400px"></div>
    </div>
    <div class="col-md-6">
      <div id="businessCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let picture of negocio.pictures; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <img
              src="{{ picture }}"
              class="d-block w-100"
              alt="Business Image"
              style="max-height: 400px"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#businessCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#businessCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4>Información de contacto</h4>
      <p><strong>Teléfonos:</strong></p>
      <ul>
        <li *ngFor="let phone of negocio.phones">{{ phone }}</li>
      </ul>
      <p><strong>Horario:</strong></p>
      <ul>
        <li *ngFor="let schedule of negocio.schedule">
          {{ schedule.weekday }}: {{ schedule.openingTime }} -
          {{ schedule.closingTime }}
        </li>
      </ul>
    </div>
  </div>


  <app-comentario></app-comentario>
</div>
