<div class="container mt-4 p-4 bg-light rounded-3 shadow-sm">
  <div class="row align-items-center mb-4">
    <div class="col-md-6">
      <h1 class="fw-bold">{{ negocio.name }}</h1>
    </div>
    <div class="col-md-6 text-end">
      <span class="badge bg-warning text-dark me-2">{{ negocio.status }}</span>
      <button *ngIf="canEdit" class="btn btn-outline-warning btn-sm me-2" type="button"
        routerLink="/editar-lugar/{{ negocio.id }}">
        <i class="fa-solid fa-pencil me-2"></i> Editar
      </button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="mx-2 col-12">
      <p>
        <strong class="me-2">Categorías:</strong>
        <span *ngFor="let category of negocio.categories" class="badge bg-primary me-2">{{ category }}</span>
      </p>
      <p class="text-muted">{{ negocio.description }}</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="map" class="rounded-3" style="height: 400px; background-color: #e9ecef"></div>
    </div>
    <div class="col-md-6">
      <div id="businessCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let picture of negocio.pictures; let i = index" class="carousel-item" [class.active]="i === 0">
            <img src="{{ picture }}" class="d-block w-100 rounded-3" alt="Business Image"
              style="height: 400px; object-fit: cover" />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#businessCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#businessCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="ms-2 col-12">
      <h4 class="fw-bold">Información de contacto</h4>
      <p><strong>Teléfonos:</strong></p>
      <ul class="list-unstyled ms-3">
        <li *ngFor="let phone of negocio.phones">
          <i class="fa fa-phone me-2"></i>{{ phone }}
        </li>
      </ul>
      <p><strong>Horario:</strong></p>
      <ul class="list-unstyled ms-3">
        <li *ngFor="let schedule of negocio.schedule">
          <i class="fa fa-clock me-2"></i>{{ schedule.weekday }}:
          {{ schedule.openingTime }} - {{ schedule.closingTime }}
        </li>
      </ul>
    </div>
  </div>

  <app-comentario [placeId]="codePlace"></app-comentario>
</div>